<div>
    <p>
        Recipients: 
        <input v-model="recipients">
    </p>
    <p>
        Subject: 
        <input v-model="subject">
    </p>
    <p>
        Message: 
        <input v-model="message">
    </p>
    <p>
        <button v-on:click="SendMessage">Send message</button>
    </p>
</div>
